@charset "UTF-8";

/*MOBILE FIRST*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #549FFE;
}

article{
    border-radius: 10px;
}

section{
    width: 100%;
    background-color: white;

    text-align: center;
    text-transform: uppercase;
    
    font-weight: bolder;
    letter-spacing: 1px;
    
    padding: 10px;
}

section h2{
    font-size: 18px;
    font-weight: bold;

    letter-spacing: 3px;
    color: grey;
    
    margin: 25px 0 18px 0;
    padding-bottom: 40px;
    
    border-bottom: 1px solid rgba(35, 139, 174, 0.105);
}

section p{
    color: #2B71E3;
    font-size: 12px;
    
    margin-bottom: 20px;
    padding-bottom: 15px;

    border-bottom: 1px solid rgba(35, 139, 174, 0.105);
}

section div{
    height: 300px;
    margin: auto;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

section#basico div#imagem-basico{
    background-image: url("../images/icon1.png");
}

section#padrao div#imagem-padrao{
    background-image: url("../images/icon2.png");
}

section#premium div#imagem-premium{
    background-image: url("../images/icon3.png");
}

section h3{
    color: #2B71E3;
    font-size: 1.5em;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}

section button{
    width: 90%;
    height: 55px;

    text-transform: uppercase;
    color: #2B71E3;

    font-size: 15px;
    font-weight: 500;

    background-color: white;
    padding: 8px;
    margin-bottom: 10px;

    border: 1px solid #39A4FF;
    border-radius: 10px;
}

section#padrao button{
    background-color: #2B71E3;
    color: white;
}