@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #549FFE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

main{
    height: 100vh;
    padding: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

article{
    width: 900px;
    background-color: white;
    
    text-align: center;
    text-transform: uppercase;

    padding: 50px;
    border-radius: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

section{
    border-left: 1px solid #549efe33;
    padding-left: 40px;
    flex: auto;
}

section#basico div{
    background-image: url(../images/icon1.png);
}

section#padrao div{
    background-image: url(../images/icon2.png);
}

section#premium div{
    background-image: url(../images/icon3.png);
}

section div{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    height: 120px;
}

section:nth-child(1){
    border: none;
    padding-left: 0;
    padding-right: 20px;
}

section:nth-child(2){
    padding-right: 20px;
}


section h2{
    color: grey;
    letter-spacing: 1.5px;
    font-size: 1em;

    border-bottom: 1px solid #549efe33;

    margin: 10px 0;
    padding-bottom: 40px;
}

section p{
    color: #0a5ecd;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 1px;

    border-bottom: 1px solid #549efe33;

    margin-bottom: 10px;
    padding-bottom: 10px;
}

section h3{
    color: #0a5ecd;
    font-size: 1.5em;

    margin: 30px 0px 10px;
}

section button{
    background-color: white;
    border: 1px solid #0a5ecd;
    border-radius: 5px;

    padding: 8px;

    text-transform: uppercase;
    letter-spacing: 1px;
    color: #0a5ecd;

    cursor: pointer;
}

section button:hover{
    background-color: #3d85e4;
    border: 1px solid #3d85e4;
    color: white;
}

section#padrao button{
    background-color: #0a5ecd;
    color: white;
}




@media screen and (max-width: 810px){
    article{
        gap: 50px;
    }

    section{
        border: none;
        padding: 0;
    }

    section#premium{
        margin-top: 30px;
        padding: 30px 0px;
        border-top: 1px solid #549efe33;
    }
}